@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@100;300;400&display=swap');

#root {
  display: flex;
  height: 100dvh;
  width: 100dvw;
  justify-content: center;
  align-items: center;
}

#root button:focus {
  box-shadow: none;
}

body {
  background-color:azure;
}

.nes-btn {
  /* width: 160px;
  height: 52px; */
}

.nes-container.loading-container {
  position: absolute;
  transform: translateY(-70px);
  opacity: 0;
  padding: 14px 18px;
  background-color: rgb(175, 175, 175);
}

.nes-container.is-rounded.loading {
  width: 200px;
  padding: 0;
  margin: 0;
  background-color: azure;
}

.loader {
  width: 0px;
  height: 8px;
  margin: 0;
  background-color: rgb(52, 157, 255);
}

.loader-animation {
  animation: loading 8s;
  animation-fill-mode: forwards;
}

.nes-container.is-rounded {
  border-image-repeat: stretch;
}

.nes-container.is-rounded.content-container {
  position: absolute;
  padding: 8px 32px;
  background-color: antiquewhite;
  text-align: center;
}

.content-container {
  display: none;
}

.content-container h3 {
  font-size: 22px;
}

.content-container p {
  font-size: 12px;
  line-height: 22px;
}

.try-again {
  width: 180px;
  height: 60px;
  font-size: 12px;
  transform: scale(0.5);
}

.try-again img {
  height: 44px;
  transform: translate(-2px,-1.5px);
}


@keyframes loading {
  0% {
    width: 0px;
  }
  75% {
    width: 160px;
  }
  90% {
    width: 160px;
  }
  100% {
    width: 192px;
  }
}